:root {
    --grayblue: #6b6b83;
    --bluegreen: #3b8d99;
    --rosered: #aa4b6b;
}

* {
    box-sizing: border-box;
}

body {
    /* wes bos 02 test von grid*/
    background-image: url("./assets/images/topography.svg"),
        linear-gradient(110deg, var(--rosered), var(--grayblue), var(--bluegreen));
    background-size: 340px, auto;
    min-height: calc(100vh - 100px);
    margin: 50px;
    background-attachment: fixed;
    letter-spacing: -1px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.dark-mode {
    background-image: url("./assets/images/topography.svg"),
        linear-gradient(110deg, black, darkgrey);
}

.btn {
    height: 100%;
    background-color: white;
    border-radius: 10px;
    border: none;
    width: 250px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.btn-top {
    width: 100%;
    margin-right: 20px;
}

.container {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.item {
    display: flex;
    flex: 1;
}

.finished {
    height: 100%;
    font-size: 1.5rem;
    cursor: pointer;
    padding: auto;
    text-align: center;
}

.notes {
    height: 200px;
    background-color: rgba(255, 255, 255, 0.2);
}