:root {
  --grayblue: #6b6b83;
  --bluegreen: #3b8d99;
  --rosered: #aa4b6b;
  --buttoncolor: white;
  --buttonfontcolor: black;
  --notesbackgroundcolor: rgba(255, 255, 255, 0.2);
  --notebackgroundcolor: rgba(255, 255, 255, 0.6);
  --notefontcolor: black;
  --formbackgroundcolor: white;
  --formfontcolor: black;
  --standardmargin: 15px;
  --createbuttoncolor: #d3d3d3;
  --standardfontsize: 1.1rem;
}

* {
  box-sizing: border-box;
}

body {
  /* wes bos 02 test von grid */
  background-image:
    url("./assets/images/topography.svg"),
    linear-gradient(110deg, var(--rosered), var(--grayblue), var(--bluegreen));
  background-size: 340px, auto;
  min-height: calc(100vh - 100px);
  margin: 50px;
  background-attachment: fixed;
  letter-spacing: -1px;
  font-family: "Roboto", sans-serif;
  color: white;
}

h2,
h3 {
  font-weight: 400;
  font-size: 24px;
}

body.dark-mode {
  --grayblue: #202027;
  --bluegreen: #23545b;
  --rosered: #441e2a;
  --buttoncolor: black;
  --buttonfontcolor: white;
  --notesbackgroundcolor: rgba(111, 111, 111, 0.2);
  --notebackgroundcolor: rgba(111, 111, 111, 0.2);
  --notefontcolor: white;
  --formbackgroundcolor: black;
  --formfontcolor: white;
  --createbuttoncolor: #717171;
}

.btn {
  height: 100%;
  width: 250px;
  background-color: var(--buttoncolor);
  color: var(--buttonfontcolor);
  border-radius: 10px;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: var(--standardfontsize);
  cursor: pointer;
  margin: 5px;
}

/* top menu */
.actions {
  display: flex;
  margin-bottom: var(--standardmargin);
  justify-content: space-between;
  flex-wrap: wrap;
}

.sort {
  display: flex;
  margin-bottom: var(--standardmargin);
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* note section */
.notes-list-section {
  font-size: var(--standardfontsize);
  background-color: var(--notesbackgroundcolor);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.note {
  flex: 0 0 100%;
  background-color: var(--notebackgroundcolor);
  display: flex;
  margin-bottom: var(--standardmargin);
  padding-left: var(--standardmargin);
  padding-top: var(--standardmargin);
  font-size: var(--standardfontsize);
  color: var(--notefontcolor);
}

.note-row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.row-first {
  flex: 0 0 20%;
  justify-content: space-between;
}

.row-second {
  flex: 0 0 60%;
  justify-content: space-between;
}

.row-third {
  flex: 0 0 20%;
  justify-content: center;
  align-items: center;
}

.note-form-textarea {
  margin-top: 15px;
}

/* layout */

/* create new note */
.note-form-label,
.note-form-title {
  font-weight: 600;
}

.note-form-input,
.note-form-textarea {
  border: none;
  font-family: inherit;
  font-size: var(--standardfontsize);
  color: inherit;
}

.note-form-input {
  background-color: transparent;
  color: inherit;
}

/* layout */

.create-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: var(--standardmargin);
  margin-bottom: var(--standardmargin);
  padding-left: var(--standardmargin);
  padding-top: var(--standardmargin);
  background-color: var(--formbackgroundcolor);
  color: var(--formfontcolor);
  font-size: var(--standardfontsize);
  font-family: inherit;
}

.form-display {
  flex: 0 0 80%;
  display: flex;
  flex-wrap: wrap;
}

.button-display {
  flex: 0 0 20%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create-form-label {
  flex: 0 0 25%;
  height: 50px;
}

.create-form-input,
.create-form-textarea,
.create-form-select {
  flex: 0 0 75%;
  margin-bottom: var(--standardmargin);
  font-family: inherit;
}

.btn-form {
  flex: 0 0 10%;
  width: 150px;
  height: 60px;
  padding: 10px;
  margin-bottom: var(--standardmargin);
  background-color: var(--createbuttoncolor);
  color: var(--formfontcolor);
  border-radius: 10px;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: var(--standardfontsize);
  cursor: pointer;
}

.btn-note {
  flex: 0 0 10%;
  width: 150px;
  height: 60px;
  padding: 10px;
  margin-bottom: var(--standardmargin);
  background-color: var(--rosered);
  color: var(--formfontcolor);
  border-radius: 10px;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: var(--standardfontsize);
  cursor: pointer;
}

.btn:hover,
.btn-small:hover,
.btn-form:hover {
  font-weight: 700;
}

/* styling star rating */
.rating {
  border: none;
  flex: 0 0 75%;
}

.rating > input {
  display: none;
}

.rating > label::before {
  content: "\f005";
  font-family: "Font Awesome 5 Free", sans-serif;
  margin: 5px;
  font-size: 1.5rem;
  display: inline-block;
  cursor: pointer;
}

.rating > label {
  color: #ddd;
  float: right;
  cursor: pointer;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #fec821;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #fec821;
}

footer {
  margin: var(--standardmargin) 0;
}
