:root {
    --grayblue: #6b6b83;
    --bluegreen: #3b8d99;
    --rosered: #aa4b6b;
}

* {
    box-sizing: border-box;
}

body {
    /* wes bos 02 test von grid*/
    background-image: url("./assets/images/topography.svg"),
    linear-gradient(110deg, var(--rosered), var(--grayblue), var(--bluegreen));
    background-size: 340px, auto;
    min-height: calc(100vh - 100px);
    margin: 50px;
    background-attachment: fixed;
    letter-spacing: -1px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.dark-mode {
    background-image: url("./assets/images/topography.svg"),
    linear-gradient(110deg, black, darkgrey);
}

.btn {
    height: 100%;
    background-color: white;
    border-radius: 10px;
    border: none;
}

.container {
    display: flex;
    border: 2px solid grey;
}

.item {
    border: 2px solid black;
    flex: 1;
    color: white;
    font-size: 2rem;
    text-shadow: 4px 4px 0 rgba(0,0,0,0.1);
    padding: 10px;
}

.sort {
    flex: 2;
}

.notes {
    height: 200px;
    background-color: rgba(255,255,255,0.2);
}
